/* Coolors Exported Palette - coolors.co/000000-9c9b9e-b3b3b3-666163-94989c */

$color1: #000000; //rgba(0, 0, 0, 100)
$color2: #9c9b9e; //rgba(156, 155, 158, 100)
$color3: #b3b3b3; //rgba(179, 179, 179, 100)
$color4: #666163; //rgba(102, 97, 99, 100)
$color5: #94989c; //rgba(148, 152, 156, 100)